@page "/countries"

@using Orders.Frontend.Repositories
@using Orders.Shared.Entites
<h3>Paises</h3>
@if (countries is null)
{
    <Loading Label="Cargango paises, por favor espera"/>    
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in countries)
            {
                <tr>
                    <td>@country.Name</td>
                </tr>
            }
        </tbody>
        </table>
}
@code {
    [Inject] private IRepository Repository { get; set; } = null!;
    private List<Country> ?countries;
    protected override async Task OnInitializedAsync()
    {
        var httpResult = await Repository.GetAsync<List<Country>>("Api/Countries");
        countries = httpResult.Response;
    }
}
